
.gifBackground {
  position: relative;
  overflow: hidden;
  background-image: url(/home_bg_desk.gif);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  justify-content: center;
}
.tecnoLogo {
  width: 70%;
  margin: auto;
  /* margin-bottom: 4rem; */
}
.dateTecno {
  font-size: 2.5rem;
  /* line-height: 1; */
  font-weight: bold;
  font-family: PixeloidSansBold, serif;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#312f2f, #312f2f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.16em transparent;
}
.arrowLottieContainer {
  position: absolute;
  bottom: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLottie {
  height: 100%;
  transform: rotate(-90deg);
}
@media screen and (max-width: 720px) {
  .tecnoLogo {
    width: 85%;
    margin-bottom: 3rem;
  }
  .arrowLottieContainer{
    bottom: 4vh;
  }
}
@media screen and (max-width: 450px) {
  .gifBackground {
    background-image: url("https://res.cloudinary.com/dnitrnzho/image/upload/v1706188452/home_bg_mob_vykzlu.gif");
  }
  .dateTecno {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1900px) {
  .dateTecno {
    font-size: 6rem;
  }
}
@media screen and (min-width: 2500px) {
  .dateTecno {
    font-size: 8rem;
  }
}
