.heroSection {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  perspective: 10px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.buildImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;  
  z-index: -25;

  animation-duration: 2s;
  animation-name: zoomeffect2;
  animation-iteration-count: 1;
  animation-direction: alternate;
  
}

.lightsImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -30;
  
  animation-duration: 2s;
  animation-name: comeleft;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes comeleft {

   from {
     width: 50vw;
    }
    to{
      width: 100vw;
   
 } 
}

.starsImg{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;


  animation-duration: 2s;
  animation-name: zoomeffect;
  animation-iteration-count: 1;
  animation-direction: alternate;
}



.tecComing {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.tecLogo {

  width: 60%;
  z-index: 20;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}


.comingSoon {
  animation-duration: 6s;
  animation-name: hide;
  animation-iteration-count: 1;

  z-index: 20;
}

.pacmanLottie {
  width: 20%;
  position: relative;
  left: 25%;
  z-index: -1;
  animation-duration: 6s;
  animation-name: hide;
  animation-iteration-count: 1;
}

.pacmanContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20vh;
  width: 100%;
  z-index: 1;
  margin-top: -2%;

  animation-duration: 6s;
  animation-name: hide;
  animation-iteration-count: 1;
}

.pacmanImage {
  position: relative;
  animation: eating-path 7s linear infinite;
  width: 22%;
  left: 48%;
  &::before,
  &::after {
      position: absolute;
      top: -35px;
      display: block;
      border-radius: 50%;
      content: "";
      height: 0px;
      width: 0px;
  }

  &::before {
      animation: chunk-top .5s ease infinite;
      border: 35px solid #FFCC00;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }

  &::after {
      animation: chunk-bottom .5s ease infinite;
      border: 35px solid #FFCC00;
      border-right-color: transparent;
      border-top-color: transparent;
  }
}


@keyframes hide {
  100% {
      background: transparent;
  }
}

@keyframes chunk-top {
  0%,
  100% {
      transform: rotate(-45deg);
  }
  50% {
      transform: rotate(-80deg);
  }
}

@keyframes chunk-bottom {
  0%,
  100% {
      transform: rotate(-40deg);
  }
  50% {
      transform: rotate(0deg);
  }
}

@keyframes eating-path {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(50%);
  }
}




.arrowLottie {
  position: absolute;
  bottom: 0;
  right: 45%;
  width: 8%;
  transform: rotate(270deg);
  
  z-index: 999;
  animation-duration: 6s;
  animation-name: hide;
  animation-iteration-count: 1;
}

@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(2, 2);
  }
  50% {
    background-position: center;
    transform: scale(1, 1);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}

@keyframes zoomeffect2 {
  0% {
    background-position: center;
    transform: scale(2, 2);
    z-index: 100;
  }
  50% {
    background-position: center;
    transform: scale(1, 1);
    z-index: 100;
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
    z-index: -10;
  }
}



@keyframes slidein {
  0% {
    transform: translateY(300%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




@media screen and (max-width: 1180px) {

  .starsImg {
    transform: scale(1,1.75);
  }
  @keyframes zoomeffect {
    0% {
      background-position: center;
      transform: scale(4, 4);
    }
    50% {
      background-position: center;
      transform: scale(1, 1.75);
    }
    100% {
      background-position: center;
      transform: scale(1, 1.75);
    }
  }

  .comingSoon{
    width: 40%;
  }
  .pacmanContainer{
    transform: scale(0.75,0.75);
  }

}


@media screen and (max-width: 800px) {
  .tecComing {
    margin-top: 16rem;
  }
  .heroSection {
    background-image: url(../../../public/images/mobback.png);
  }
  .starsImg {
    height: 0;
  }

  .arrowLottie {
    bottom: 10%;
  }

  .pacmanContainer{
    margin-top: -8%;
    transform: scale(0.4,0.4);
  }
  .pacmanLottie {
    width: 50%;
  }
 
}