
.bgContainer {
    position: relative;
    overflow: hidden;
    background-image: url('./bg2.svg');
    background-attachment: fixed;
  }
  
  .contentContainer {
    padding-bottom: 4rem;
    padding-top: 4rem;
    position: relative;
  }
  .aboutleftImg{
    position:absolute;
    bottom: 0;
  right: 0;

    height: 15rem;
    width: 15rem;
    background-image: url('./aboutus_rightimg.svg');
  }
  
  .textContainer {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
  
  .aboutUsText {
    max-width: 54rem; 
  }
  
  .techFestText {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    font-family: Pixeloid, serif;
    color: #ffffff;
    text-align: end;
   
  }
  
  .eventText {
    font-size: 1.5rem;
      line-height: 2rem;
    color: #ffffff;
    margin-top: 1rem;
    font-family: JetBrainsMono, sans;
    text-align:justify
  }
  .spaceBox{
    margin-left: auto;
      margin-right: auto;
      /* height: 8rem;
      width: 4rem; */
  
  }
  
  .coinboxContainerParent {
   display:flex; 
   flex-direction: column;
  }
  .coinboxContainer {
   margin-top: auto;
   margin-bottom: auto;
    
  }
  /* .mb4{
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 0;
   
    
  } */
  
  /* .translateLottie{
     translate: 0 -6rem;
     opacity: 1;
     transition : translate 0.25s, opacity 0.25s;
  }
  .retranslateLottie{
    opacity: 0;
     translate: 0 4rem;
     transition : translate 0.25s , opacity 0.25s ;
  
  }
  .translate{
     translate: 0 2rem;
     transition : translate 0.25s;
  }
  .retranslate{
     translate: 0 0;
     transition : translate 0.25s;
  } */
  
  /* .coinboxImage {
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
    width: 8rem;
    background-image: url('./aboutus_coinbox.svg');
  
  } */
  
  /* .coinboxImage:hover {
    margin-top: 0;
  } */
  