@font-face {
    font-family: PixeloidSans;
    src: url('/public/fonts/PixeloidSans-mLxMm.ttf');
}

:root {
    --inactive: 1rem;
    --active: 2rem;
}

.regCont {
    background: url('https://res.cloudinary.com/dhry5xscm/image/upload/v1705320359/tecnoesis/techno-bg_ssqzdb.svg');
    overflow-x: hidden;
    padding-top: 8rem;
    min-height: 100vh;
    background-color: #000000;
    font-family: PixeloidSans;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #ffffff;
    margin-top: 2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    overflow-y: hidden;
}

.mainHeading {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

@media screen and (min-width:700px) {
    .mainHeading {
        font-size: 2.5rem;
    }
}

.innerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lottieCont {
    scale: 0.6;
}

@media screen and (min-width:700px) {
    .innerCont {
        flex-direction: row-reverse;
    }

    .lottieCont {
        scale: 1.5;
        margin: 10%;
    }

    :root {
        --inactive: 1rem;
        --active: 6rem;
    }
}

.memberCont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    row-gap: 2rem;
    width: 100%;
}

.memberName {
    font-size: 0.6rem;
}

@media screen and (min-width:700px) {
    .memberName {
        font-size: 1.2rem;
    }
}

.memberInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-left: 0.5rem;
}

.memberInfo .memberInput {
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid #ffffff;
    width: 80%;
    background: linear-gradient(180deg, #FF003D 0%, #FCFDFF 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.6rem;
}

.memberInput::placeholder {
    background: linear-gradient(180deg, #FF003D 0%, #FCFDFF 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.formCont {
    width: 100%;
    padding: 10%;
}

.memberBox {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.leftPortion {
    font-size: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}




@media screen and (min-width:700px) {
    .memberInfo .memberInput {

        font-size: 1.2rem;
    }
}



.addMember {
    border: 2px solid var(--blue-button-gradient-light, #56F4FD);
    background: linear-gradient(90deg, #56F4FD, #48bec7);
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 0.5s;
}

.addMember:hover {

    -webkit-background-clip: border-box;
    color: #000000;
    transition-duration: 0.5s;
}


.teamName {
    background: linear-gradient(180deg, #FF003D 0%, #FCFDFF 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width:700px) {
    .teamName {
        font-size: 2.5rem;
    }
}

.teamField {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    color: #ffffff;
}

.subCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.submit {
    border: 2.075px solid var(--button-stroke-2, #B5868D);
    background: linear-gradient(101deg, #002358 10.23%, #1D0B21 100%);
    color: #4DEBF6;
    font-weight: 400;
    padding: 0.1rem 1.5rem;
    transition-duration: 0.5s;
}

.submit:hover {
    background: linear-gradient(101deg, #B5868D, #B5868D);
    transition-duration: 0.5s;
    color: #ffffff;
}

@media screen and (min-width:700px) {
    .submit {
        padding: 0.2rem 4.5rem;
    }
}