.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 4vw;
}
.frame {
  position: relative;
  overflow: hidden;
  height: 404px;
  width: 280px;
}

/* .dp {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -4.2px;
  overflow: hidden;
  transition: all 0.3s ease-in;
} */



.imageFrame{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


.logo{
  position: absolute;
  top: 0;
  left: 0;
  height: 3vw;
}

.dp{
  transition: all 0.3s ease-in;
}

/* .tecnoSid {
  position: absolute;
  top: 13.125rem;
  left: 0px;
} */

.profile {
  position: absolute;
  color: white;
  bottom: -3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  transition: all 0.3s ease-in;
  padding-left: 2.5rem;
}

.frame:hover{
  .profile{
    bottom: 2vw;
  }
  .SocialProfile{
    opacity: 1;
  }
  .dp{
    filter: grayscale(1);
  }
}

.profile .prProfile {
  font-family: PixeloidSansBold, serif;
  font-weight: 700;
  gap: 6.67px;
}

.name{
  font-size: 1.5rem;
}

.position{
  font-size: 1rem;
}

.SocialProfile {
  display: inline-flex;
  gap: 2vw;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.SocialProfile .icon {
  width: 2.5vw;
  height: 2.5vw;
}
/* 
@media (max-width: 600px) {
  .frame {
    height: 400px;
    width: 300px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .frame {
    height: 350px;
    width: 250px;
  }
} */


@media (max-width: 1024px) {
  .frame{
    height: 260px;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .frame{
    height: 233px;
    width: 161px;
  }

}

@media (max-width: 680px) {
  .frame{
    height: 325px;
    width: 227px;
  }

}

@media (max-width: 536px) {
  .frame{
    height: 272px;
    width: 191px;
  }

}

@media (max-width: 477px) {
  .frame{
    height: 220px;
    width: 153px;
  }

  .container{
    margin-bottom: 11vw;
  }

}

@media (max-width: 380px) {
  .frame{
    height: 186px;
    width: 130px;
  }

}

@media (max-width: 340px) {
  .frame{
    height: 155px;
    width: 108px;
  }

}

@media (max-width: 296px) {
  .frame{
    height: 129px;
    width: 90px;
  }

}

@media (max-width: 256px) {
  .frame{
    height: 165px;
    width: 115px;
  }

}