
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  height: 50vw;
  width: 30vw;
}
.frame {
  position: relative;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
}

.dp {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  scale: 0.989;
  overflow: hidden;
  transition: all 0.3s ease-in ;
  z-index: 0;
}


.dp:hover{
  .profile{
    bottom: 32px;
  }
  .SocialProfile{
    opacity: 1;
  }
}


.imageFrame {
  position: absolute;
  top: 0;
  left: 0;
}

.tecnoSid{
    position: absolute;
    top: 210px;
    left: 0px; 
}

.profile{
  position: absolute;
  width: 100%;
  color: white;
  /* bottom: 32px; */
  bottom: -4.5vw;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  transition: all 0.3s ease-in;

  padding-left: 5vw;
  z-index: 99;

}


.profile .prProfile{
  font-family: PixeloidSansBold, serif;
  font-size: 2.5vw;
  font-weight: 700;
  margin-top: -0.06px;
  gap: 6.67px;
}

.SocialProfile{
  display: inline-flex;
  gap: 2vw;
  opacity: 0;
  transition: all 0.3s ease-in ;

    
}

@media (max-width: 600px) {
  .frame {
     
    height: 400px;
    width: 300px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .frame {
     height: 350px;
     width: 250px;
  }
}
