.gifBackground {
  position: relative;
  overflow: hidden;
  background-image: url(/home_bg_desk.gif);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  justify-content: center;
}
.tecnoLogo {
  width: 70%;
  margin: auto;
  /* margin-bottom: 4rem; */
}
.dateTecno {
  font-size: 2.5rem;
  /* line-height: 1; */
  font-weight: bold;
  font-family: PixeloidSansBold, serif;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#312f2f, #312f2f);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.16em transparent;
}
.arrowLottieContainer {
  position: absolute;
  bottom: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLottie {
  height: 100%;
  transform: rotate(-90deg);
}
@media screen and (max-width: 700px) {
  .tecnoLogo {
    width: 85%;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .gifBackground {
    background-image: url(/home_bg_mob.gif);
  }
  .dateTecno {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1900px) {
  .dateTecno {
    font-size: 6rem;
  }
}
@media screen and (min-width: 2500px) {
  .dateTecno {
    font-size: 8rem;
  }
}

/*-------------->About<------------*/
.bgContainer {
  position: relative;
  overflow: hidden;
  background-image: url("/images/homepageBg.png");
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: contain;
}

.contentContainer {
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.textContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 80rem; */
  /* width: 85%; */
  width: 82%;
  padding-left: 3rem;
  padding-right: 2.5rem;
}

.aboutUsText {
  width: 80%;
  font-size: 2.5rem;
}

.techFestText {
  margin-bottom: 2rem;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  font-family: PixeloidSansBold, serif;
  color: #ffffff;
  background: linear-gradient(#ff004c, black);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.12em transparent;
}

.eventText {
  font-size: 0.5em;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 1rem;
  font-family: JetBrainsMono, sans;
  text-align: justify;
}
.spaceBoxParent {
  /* width: 12%; */
  width: 10%;
}
.spaceBox {
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
  width: 100%;
}

.lottieContainerParent {
  display: flex;
  flex-direction: column;
  /* width: 10%; */
  width: 7%;
}

.lottieContainer {
  margin-top: auto;
  margin-bottom: auto;
  /* padding-bottom: 8rem; */

  display: flex;
  flex-direction: column;

  height: 25rem;
  position: relative;
}
.mb4 {
  margin-bottom: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.translateLottie {
  /* translate: 0 -1rem; */
  translate: 0 -8rem;
  opacity: 1;
  transition: translate 0.25s, opacity 0.25s;
}
.retranslateLottie {
  opacity: 0;
  /* translate: 0 6rem; */
  translate: 0 2rem;
  transition: translate 0.25s, opacity 0.25s;
}
.translate {
  translate: 0 2rem;
  transition: translate 0.25s;
}
.retranslate {
  translate: 0 0;
  transition: translate 0.25s;
}
.coinboxImageParent {
  margin-top: auto;
  margin-bottom: 3rem;
  position: relative;
  height: 100%;
}
.coinboxImage {
  position: absolute;
  bottom: 0;
  padding-bottom: 100%;
  width: 100%;
  background-image: url("/aboutus_coinbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1180px) {
  .textContainer {
    width: 90%;
  }
  .aboutUsText {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .textContainer {
    width: 95%;
  }
  .aboutUsText {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 800px) {
  .aboutUsText {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  .textContainer {
    width: auto;
  }
  .contentContainer {
    padding-bottom: 0rem;
  }
  .spaceBox {
    display: none;
  }
  .lottieContainer {
    display: none;
  }
  .techFestText {
    text-align: center;
    margin-bottom: 3rem;
  }
  .aboutUsText {
    font-size: 2.3rem;
    width: 100%;
  }
  .spaceBoxParent {
    width: 0%;
  }
  .lottieContainerParent {
    width: 0%;
  }
}
@media screen and (max-width: 480px) {
  .textContainer {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .techFestText {
    line-height: 1.2;
    font-size: 0.9em;
  }
  .eventText {
    line-height: 1.7;
  }
  .aboutUsText {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1500px) {
  .translateLottie {
    translate: 0 -10rem;
  }
}
@media screen and (min-width: 1900px) {
  .translateLottie {
    translate: 0 -13rem;
  }
  .aboutUsText {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 2500px) {
  .translateLottie {
    translate: 0 -16rem;
  }
  .aboutUsText {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 3500px) {
  .translateLottie {
    translate: 0 -21rem;
  }
  .textContainer {
    width: 74%;
  }
  .aboutUsText {
    font-size: 5.4rem;
  }
}

/*--------------------------------- Container 2 ------------------------------------- */

.contentContainer2 {
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.textContainer2 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.aboutNitText {
  width: 78%;
  /* font-size: 3rem; */
  font-size: 2.5rem;
}

.techFestText2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  font-family: PixeloidSansBold, serif;
  color: #ffffff;
  text-align: end;
  background: linear-gradient(#ff004c, black);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.12em transparent;
  white-space: nowrap;
}

.eventText2 {
  font-size: 0.5em;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 1rem;
  font-family: JetBrainsMono, sans;
  text-align: justify;
}
.spaceBoxParent2 {
  width: 4%;
}
.spaceBox2 {
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
  width: 100%;
}

.lottieContainerParent2 {
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}
.lottieContainer2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.wordbreak {
  content: "\00a0"; /* Unicode non-breaking space character */
  white-space: normal; /* Allow wrapping after the inserted space */
}
@media screen and (max-width: 1180px) {
  .textContainer2 {
    width: 95%;
  }
  .aboutNitText {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .textContainer2 {
    width: 90%;
  }
  .aboutNitText {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 800px) {
  .aboutNitText {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 700px) {
  .textContainer2 {
    display: block;
    width: auto;
  }
  .contentContainer2 {
    padding-top: 5rem;
  }
  .techFestText2 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .aboutNitText {
    font-size: 2.3rem;
    width: 100%;
  }
  .spaceBoxParent2 {
    width: 0%;
  }
  .spaceBox2 {
    height: 0;
  }
  .lottieContainerParent2 {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .textContainer2 {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .techFestText2 {
    line-height: 1.2;
    font-size: 0.9em;
  }
  .eventText2 {
    line-height: 1.7;
  }
  .aboutNitText {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1900px) {
  .aboutNitText {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 2500px) {
  .aboutNitText {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 3500px) {
  .textContainer2 {
    width: 74%;
  }
  .aboutNitText {
    font-size: 5.4rem;
  }
}

/*------------------->MODULES <---------------*/
.moduleContainer {
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2.5rem;
}
.moduletext {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  font-family: PixeloidSansBold, serif;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#ff004c, black);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.12em transparent;
}

.eventText3 {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 0.5em;
  line-height: 1.5;
  color: #ffffff;
  font-family: JetBrainsMono, sans;
  text-align: center;
}
@media screen and (max-width: 1180px) {
  .eventText3 {
    width: 95%;
  }
  .moduleContainer {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .eventText3 {
    width: 90%;
  }
  .moduleContainer {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 700px) {
  .eventText3 {
    text-align: justify;
    width: auto;
  }
  .moduleContainer {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 480px) {
  .eventText3 {
    line-height: 1.7;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .moduletext {
    line-height: 1.2;
    font-size: 0.9em;
  }

  .moduleContainer {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1900px) {
  .moduleContainer {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 2500px) {
  .moduleContainer {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 3500px) {
  .eventText3 {
    width: 74%;
  }
  .moduleContainer {
    font-size: 5.4rem;
  }
}

/*------------------->PHOTo GALLERY <---------------*/

.photoContainer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2.5rem;
}

.carouselContainer {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1180px) {
  .carouselContainer {
    width: 64%;
  }
  .photoContainer {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .photoContainer {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 700px) {
  .carouselContainer {
    width: 78%;
  }
  .photoContainer {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 480px) {
  .photoContainer {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1900px) {
  .photoContainer {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 2500px) {
  .photoContainer {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 3500px) {
  .photoContainer {
    font-size: 5.4rem;
  }
}
