.container {
  width: 100vw;
  height: var(--navbar-height);
  margin: 0 auto;
  padding: 0vh 5vw;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background: url('https://res.cloudinary.com/dagggqd6g/image/upload/f_auto,q_auto/yhxzsczvtrg7anfokt3k');
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% + 20px) !important;
  opacity: 1;
  transition: transform 0.5s ease;
}


.moveUp {
  transform: translateY(-100%);
}


.close_button {
  margin-top: 3rem;
  margin-left: 3rem;
  position: absolute;
  top: 0;
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar {
  gap: 1.563rem;
  padding-right: 4vw;
}

.nav_links {
  margin-top: -11rem;
}


/* New Styles */



.nav_content {
  gap: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 1.2rem;
}

.nav_logo {
  display: none;
}

.register_dock {
  display: none;
}

.nav_profile {
  padding-bottom: 1.5rem;
}

.main_img {
  border-radius: 50%;
  width: 3.25rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
  border: 2px solid var(--tecno-brown-1-100);
}

.navbuttonpage {
  font-family: PixeloidSans, serif;
  display: inline-flex;
  text-align: center;
  font-size: 0.9rem;
  font-weight: normal;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.00625rem;
}

.button_sign_content {
  background-color: var(--navbar-cyan-1-100);
  align-items: center;
  display: flex;
  width: fit-content;
  padding: auto;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.btn_signin {
  border: 1px solid var(--tecno-brown-1-100);
  color: #190958;
  display: flex;
  padding: 0.83419rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.66738rem;
  font-family: PixeloidSans, serif;
  font-weight: 700;
  letter-spacing: 0.13;
  word-wrap: break-word;
  width: 15rem;
}

.btn_signin:hover {
  color: var(--navbar-cyan-1-100);
}

.button_sign_content:hover {
  background: linear-gradient(to right,
      var(--footer-blue-1-100),
      var(--footer-blue-3-100));

}


.navbuttonpage_side {
  width: 15rem;
  font-family: PixeloidSans, serif;
}

.menu_icon {
  cursor: pointer;
  display: block;
  z-index: 120;
}


.nav_links {
  text-align: center;
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@keyframes slideInFromLeft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slideOutToLeft {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

.profileUser {
  color: var(--tecno-brown-1-100);
  font-size: 1.2rem;
  cursor: pointer;
}

.userProfilecontainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav_sidebar {
  position: fixed;
  padding-top: 2rem;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1114" height="1174" viewBox="0 0 1114 1174" fill="none"><path d="M0 0H1113.16V1205.76H0V0Z" fill="url(%23paint0_linear_1577_3911)" fill-opacity="0.79"/><defs><linearGradient id="paint0_linear_1577_3911" x1="159.901" y1="542.399" x2="1197.72" y2="542.399" gradientUnits="userSpaceOnUse"><stop offset="0.351217"/><stop offset="0.921918" stop-opacity="0"/></linearGradient></defs></svg>');
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.5s ease;
  animation: slideInFromLeft 1s ease forwards;
}

.moveleft {
  transform: translateX(-100%);
}

.nav_links {
  padding-left: 10rem;
  gap: 0.8rem;
}


@media (max-width: 768px) {
  .nav_links {
    padding-top: 8rem;
  }

  .nav_logo img {
    width: 3rem;
    margin-left: 1rem;
  }

  .close_button {
    width: 1.6rem;
  }

  .register_dock {
    display: block;
  }

  .nav_sidebar {
    background-size: contain;
  }

  .container {
    background-size: cover !important;
  }

  .nav_sidebar {
    justify-content: center;
  }

  .close_button {
    margin-right: 20rem;
  }

  .menu_icon {
    cursor: pointer;
    display: block;
    padding-bottom: 1rem;
  }

  .navbuttonpage_side {
    width: 10rem;
  }

  .nav_links {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .nav_content {
    display: none;
  }

  .nav_logo {
    display: block;
    width: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;

  }

}

@media screen and (min-width: 3500px) {
  .container {
    padding: 2vh 6vw;
    height: 18rem !important;
  }

  .navbuttonpage_side {
    width: 60rem;
    height: 8rem;
    padding-top: 1.2rem;
    font-size: 3rem;
  }

  .close_button {
    width: 20rem;
    height: 10rem;
    left: 2rem;
  }

  .navbuttonpage {
    padding: 1vh 1vw;
    font-size: 2.5em;
  }

  .logo img {
    width: 12rem;

  }

}

@media screen and (max-width: 1200px) {
  .menu_icon {
    padding-bottom: 1rem;
  }

  .container {
    background-size: cover !important;

  }

  .nav_content {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 2500px) {
  .container {
    padding: 2vh 6vw;
    height: 13rem !important;
  }

  .navbuttonpage_side {
    width: 28rem;
    height: 5rem;
    padding-top: 1.2rem;
    font-size: 2rem;
  }

  .close_button {
    width: 20rem;
    height: 10rem;
    left: 2rem;
  }

  .navbuttonpage {
    padding: 1vh 1vw;
    font-size: 2.5em;
  }

  .navbuttonpage {
    padding: 0.5vh 0.5vw;
    font-size: 1.5em;
  }

  .logo img {
    width: 9rem;

  }


}