
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0vh 5vw;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
}

.navbar {
  /* height:3..75rem; */
  gap: 1.563rem;
  padding-right: 4vw;
}



.menu_icon {
  display: none;
}



.nav_elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav_elements ul li:not(:last-child) {
  margin-right: 3.75rem;
}

.nav_elements ul a {
  text-decoration: none;
}

.nav_button_style {
  border-radius: 9999px;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.nav_button_style:hover {
  background-color: var(--navbar-blue-1-100);
  border-radius: 9999px;
  border: 0.187rem solid #e3e2a9;
}

.navButton {
  padding: 2rem 2rem;
  gap: 1rem;
  display: inline-flex;
  text-align: center;
  color: var(--tecno-light-1-100);
  font-size: 1.5rem;
  font-weight: normal;
  font-family: PixeloidSans, serif;
  line-height: 1rem;
  letter-spacing: 0.05em;
  width: auto;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navButton:hover {
  color:var(--navbar-blue-1-100);
  background: linear-gradient(90deg, var(--navbar-cyan-1-100) 100%, var(--navbar-cyan-2-100) 100%);
  transform: translateY(9px) translateX(8px);
}



@media (max-width: 768px) {
  .nav_elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: row; /* Change flex direction to column */
    align-items: center; /* Center items in the column */
  }

  .menu_icon {
    justify-content: flex-start;
    cursor: pointer;
    display: block;
  }

  .logo {
    order: 1; 
  }
  
  .nav_button_style:hover,
  .navButton:hover {
    background-color: transparent;
    border-radius: initial;
    border: none;
    color: inherit;
    background: none;
    transform: none;
  }


  .nav_elements {
    position: absolute;
    left: 0;
    top: 7rem;
    background: rgba(217, 217, 217, 0.05);
    border-radius: 0.875rem;
    backdrop-filter: blur(30px);
    width: 0px;
    height: fit-content;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav_elements.active {
    width: 98vw;
  }

  .nav_elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav_elements ul li {
    margin-right: 2.1vw;
    margin-top: 1.375rem;
  }
}