.footer_button {
    background: linear-gradient(
      to right,
      var(--footer-blue-1-100),
      var(--footer-blue-3-100)
    );
    border: 1px solid var(--tecno-brown-1-100);
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    color: #4debf6;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    outline: none;
    z-index: 7;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-bottom: 1.3rem;
  }
  
  .footer_button:hover {
    background: linear-gradient(to right, var(--tecno-brown-1-100), #f36196);
    color: var(--tecno-light-1-100);
    outline: none;
    transition: all 300ms ease-in-out;
  }
  