.footer {
  width: 100%;
  background: url('/elements/footerbg.png') center/cover no-repeat;
  overflow: hidden;
}

.footer_container {
  position: relative;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: var(--tecno-light-1-100);
  
}

.footer_content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_logo {
  width: 75%;
}

.pikachu {
  width: 9rem;
  margin-top: 1rem;
  clip-path: polygon(0% 0%, 100% 15%, 100% 80%, 10% 100%, 0% 80%);
}


/* .foot_satellite {
  position: absolute;
  margin-top: 110px;
  margin-left: 150px;
} */

.foot_buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 7;
  gap: 0.5rem;
}


.footer_contact {
  margin-top: 1.75rem;
  color: var(--tecno-light-1-100);
  z-index: 20;
  font-size: 1rem;
  font-weight: normal;
  font-family: PixeloidSans, serif;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

.footer_icons {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3.3rem;
  gap: 1.5rem;
  
  
}

.black_flare {
  width: 15rem;
  height: 5rem;
  z-index: 10;
  margin-top: 0.75rem;
  background-color: var(--techno-black-1-100);
  border-radius: 9999px;
  filter: blur(2.75rem);
}
/* 
.footer_flare {
  width: 100vw;
  z-index: 5;
  height: 9rem;
  background-color: var(--techno-purple-2-100);
  filter: blur(5.75rem);
  position: absolute;
  margin-top: 62vh;
} */

@media (max-width: 768px) {
  
 
  .foot_btn{
    font-size: small;
  }

  .footer_icons {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 3840px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    height: 67vh;
  }
  .footer_logo {
    width: 60rem;
  }

  .foot_btn {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .pikachu {
    width: 15rem;
  }

  /* .footer_button {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 4rem;
  } */
  .footer_contact {
    margin-top: 2rem;
    font-size: 26rem;
  }
  .footer_icons img {
    margin-top: 2rem;
    width: 3.5rem;
  }
  /* .foot_satellite {
    width: 10%;
  } */
  /* .footer_flare {
    height: 15rem;
  } */
}
@media screen and (min-width: 2500px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    max-height: 75vh;
  }

  /* .footer_buttons {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  } */
  .pikachu {
    width: 15rem;
  }
/* 
  .footer_button {
    font-size: 2rem;
  } */
  .footer_contact {
    font-size: 2rem;
  }
  .footer_icons img {
    width: 3.5rem;
  }
  /* .foot_satellite {
    width: 10%;
  }
  .footer_flare {
    height: 15rem;
  } */
}
@media screen and (min-width: 1900px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    max-height: 78vh;
  }
}
