.footer {
  width: 100%;
  background: url('/elements/footerbg.png') center/cover no-repeat;
  overflow: hidden;
}

.footer_container {
  position: relative;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: var(--tecno-light-1-100);
  
}

.footer_content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_logo {
  width: 75%;
}

.pikachu {
  width: 9rem;
  margin-top: 1rem;
  clip-path: polygon(0% 0%, 100% 15%, 100% 80%, 10% 100%, 0% 80%);
}

.foot_buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 7;
  gap: 0.5rem;
}


.footer_contact {
  margin-top: 1.75rem;
  color: var(--tecno-light-1-100);
  z-index: 20;
  font-size: 1rem;
  font-weight: normal;
  font-family: PixeloidSans, serif;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

.footer_icons {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3.3rem;
  gap: 1.5rem;
  
  
}

.black_flare {
  width: 15rem;
  height: 5rem;
  z-index: 10;
  margin-top: 0.75rem;
  background-color: var(--techno-black-1-100);
  border-radius: 9999px;
  filter: blur(2.75rem);
}

.centerText {
  padding: 1rem;
  text-align: center;
  margin-bottom: -2rem;
  font-size: 0.9rem;
}

.gdsctext{
  font-family:  PixeloidSans, serif;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.10;
  word-wrap:break-word;
  font-size: 0.9rem;
}
.gdsctext_pos{
  margin-left: -4rem;
  display: inline-flex;

}
.gdsclogo{
  width: 10rem;
}
.gdsctext1{
  font-family:  PixeloidSans, serif;
  font-weight: 400;
  line-height: 2rem;

  letter-spacing: 0.10;
  word-wrap:break-word;
  margin-left: -2rem;
  margin-top: 1rem;
}
.gdsclogoarow{
  margin-top: 1.6rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.gdsctext1 {
  position: relative;
  display: inline-block;
  color: white;
}

.gdsctext1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #00FF0A 0%, #14FF00 22%, #EBFF00 22%, #EFE600 37%, #EBFF00 49%, #FF0000 49%, #FF0000 76%, #00A3FF 76%, #0094FF 100%);
  margin-top: 2rem;
  left: 0;
}

@media (max-width: 768px) {
  .pikachu{
    width: 7rem;
  }
  .centerText {
    font-size: 0.8rem;
  }
  .foot_btn{
    font-size: small;
  }

  .footer_icons {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 3840px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    height: 67vh;
  }
  .footer_logo {
    width: 60rem;
  }

  .foot_btn {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .pikachu {
    width: 15rem;
  }

  
  .footer_contact {
    margin-top: 2rem;
    font-size: 26rem;
  }
  .footer_icons img {
    margin-top: 2rem;
    width: 3.5rem;
  }
  
}
@media screen and (min-width: 2500px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    max-height: 75vh;
  }

 
  .pikachu {
    width: 15rem;
  }

  .footer_contact {
    font-size: 2rem;
  }
  .footer_icons img {
    width: 3.5rem;
  }

}
@media screen and (min-width: 1900px) {
  .footer_container {
    max-width: 60rem;
  }
  .footer {
    max-height: 78vh;
  }
}
