:root {
  --tecno-light-1-100: #fff;
  --tecno-blue-100: #4ce8f4;
  --tecno-blue-2-100: #1d0853;
  --tecno-brown-1-100: #b5868d;
  --tecno-yellow-100: #e3e2a9;
  --tecno-peach-1-100: #efbbb6;
  --tecno-pink-1-100: #a52e62;
  --tecno-purple-1-100: #1d0b21;
  --techno-purple-2-100:#cd00fb;
  --techno-brown-2-100:#F36196;
  --techno-black-1-100:#000;
  
  --footer-blue-1-100: #002358;
  --footer-blue-2-100: #4debf6;
  --footer-blue-3-100: #1D0B21;
  --footer-blue-4-100: #060318;

  --navbar-blue-1-100: #1a084a;
  --navbar-blue-2-100: #1e0352;
  --navbar-cyan-1-100: #56F4FD;
  --navbar-cyan-2-100: #047A94;
  --navbar-height:6rem;
  
}

@font-face {
  font-family: CrackmanBack;
  src: url("/fonts/crackman.back-regular.otf") format("opentype");
}

@font-face {
  font-family: CrackmanFront;
  src: url("/fonts/crackman.front-regular.otf") format("opentype");
}

@font-face {
  font-family: Crackman;
  src: url("/fonts/crackman.regular.otf") format("opentype");
}

@font-face {
  font-family: PixeloidMono;
  src: url("/fonts/PixeloidMono-d94EV.ttf");
}

@font-face {
  font-family: PixeloidSansBold;
  src: url("/fonts/PixeloidSansBold-PKnYd.ttf");
}

@font-face {
  font-family: PixeloidSans;
  src: url("/fonts/PixeloidSans-mLxMm.ttf");
}
@font-face { 
  font-family: JetBrainsMono; 
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf"); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::-webkit-scrollbar {
  width: 13px; 

}

::-webkit-scrollbar-thumb{
  background:url("/images/scroll_logo.svg");
  /* width: 120rem;   */
  /* height: 20rem;  */
  background-repeat: no-repeat;
    /* border-radius: 22px;    */
    background-position: center;       
   background-size:1.5rem;     
    /* border:0.2rem solid transparent;  */

 /* background-clip: content-box; */
  
  z-index: 9;

}


::-webkit-scrollbar-track {
 border-radius: 22px; 
 background: linear-gradient(180deg, rgba(10, 169, 218, 0.50) 0%, rgba(0, 71, 223, 0.50) 100%);   
box-shadow: 0px 0px 14.801px 0px #469BD6;
 background-clip:padding-box; 


}

html{
scrollbar-width: thin;
scrollbar-color: rgb(31, 12, 153) #469BD6;

}












