.main_container {
    overflow-x: hidden;
    position: relative;
  }
  
  .bg_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .text_container {
  top: 50%;
  left: 50%;
  position: relative; 
  font-size: 1.6rem; 
  max-width: 60%; 
  margin-top: 5%;
  transform: translateX(-50%);
  }
  
  .mn_fr_container {
    position: relative;
    width: 100%; 
    max-width: 18rem; 
    margin: 0.5rem; 
  }
  
  .fr_container {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
  }
  
  /* Media queries for responsive grid layout */
  
  @media only screen and (min-width: 768px) {
    .mn_fr_container {
      display: inline-block;
      width: 50%; 
      margin: 0 5%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .mn_fr_container {
      display: inline-block;
      width: 30%; 
      margin: 0 5%; 
    }
  }

  